In [ ]:
# Dataset Info.

# train.csv [파일]
# ID : 샘플별 고유 ID
# 제조사
# 모델
# 차량상태
# 배터리용량
# 구동방식
# 주행거리(km)
# 보증기간(년)
# 사고이력
# 연식(년) 
# 가격(백만원)


# test.csv [파일]
# ID : 샘플별 고유 ID
# 제조사
# 모델
# 차량상태
# 배터리용량
# 구동방식
# 주행거리(km)
# 보증기간(년)
# 사고이력
# 연식(년) 


# sample_submission.csv [파일] - 제출 양식
# ID : 샘플 별 고유 ID
# 가격(백만원)

In [ ]:
# !unzip /home/greatsangho/ML/competition/elecCar/elecCar.zip

Archive:  /home/greatsangho/ML/competition/elecCar/elecCar.zip
  inflating: sample_submission.csv
  inflating: test.csv
  inflating: train.csv

In [4]:
import pandas as pd
import  numpy as np

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
train_df.head()

,ID,제조사,모델,차량상태,배터리용량,구동방식,주행거리(km),보증기간(년),사고이력,연식(년),가격(백만원)
0,TRAIN_0000,P사,TayGTS,Nearly New,86.077,AWD,13642,0,No,2,159.66
1,TRAIN_0001,K사,Niro,Nearly New,56.000,FWD,10199,6,No,0,28.01
2,TRAIN_0002,A사,eT,Brand New,91.200,AWD,2361,7,No,0,66.27
3,TRAIN_0003,A사,RSeTGT,Nearly New,NaN,AWD,21683,3,No,0,99.16
4,TRAIN_0004,B사,i5,Pre-Owned,61.018,AWD,178205,1,No,0,62.02

In [5]:
test_df

,ID,제조사,모델,차량상태,배터리용량,구동방식,주행거리(km),보증기간(년),사고이력,연식(년)
0,TEST_000,P사,TayCT,Nearly New,76.093,AWD,14057,2,No,0
1,TEST_001,B사,iX,Brand New,90.000,AWD,7547,8,No,0
2,TEST_002,B사,i5,Brand New,NaN,RWD,7197,7,Yes,0
3,TEST_003,H사,ION5,Nearly New,68.479,AWD,10357,7,No,1
4,TEST_004,K사,EV6,Brand New,NaN,FWD,7597,10,No,0
...,...,...,...,...,...,...,...,...,...,...
841,TEST_841,P사,TayGTS,Pre-Owned,64.683,AWD,117298,2,No,0
842,TEST_842,V사,ID4,Pre-Owned,55.547,AWD,72308,0,No,0
843,TEST_843,V사,ID4,Pre-Owned,55.547,AWD,124537,0,No,0
844,TEST_844,A사,Q4eT,Nearly New,69.646,AWD,15629,4,No,0
845,TEST_845,B사,i3,Pre-Owned,46.000,AWD,53945,0,No,0